
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.beranda-JDu {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-jws3-vm5 {
    padding: 2.9rem 6.1rem 26rem 30rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    background-size: 100% 105.634%;
    background-image: url('REPLACE_IMAGE:2e1c6ece2dd16408e880bd38f8ef59950807bae1');
    flex-shrink: 0;
    box-sizing: border-box;
    flex-direction: column;
    background-position: 0 2.2529rem;

    .auto-group-njzh-351 {
      display: flex;
      column-gap: 2.65rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.1rem;

      .beranda-NNB {
        font-family: Krub, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.5);
      }
      .rekapitulasi-6JB {
        font-weight: 700;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.5);
        font-family: Krub, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
      }
      .tentang-2Bq {
        font-family: Krub, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        line-height: 1.3;
        flex-shrink: 0;
      }
    }
    .line-1-9nF {
      height: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      flex-shrink: 0;
      margin: 0rem 24.2rem 2rem 0rem;
      width: 10.5rem;
    }
    .auto-group-r3qh-sTM {
      box-sizing: border-box;
      padding: 2.5rem 2.4rem 2.1rem 2.4rem;
      width: 93.1rem;
      height: 16.1rem;
      background-color: rgba(113, 117, 157, 0.6000000238);
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin-right: 14.8rem;

      .dinas-pekerjaan-umum-bina-marga-provinsi-jawa-timur-BD9 {
        font-family: Lilita One, 'Source Sans Pro';
        max-width: 88.3rem;
        text-align: center;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(255, 255, 255, 0.6999999881);
      }
    }
    .auto-group-jws3-vm5-bg {
      width: 144rem;
      height: 51.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:2e1c6ece2dd16408e880bd38f8ef59950807bae1');
    }
  }
  .auto-group-qcwt-aWB {
    width: 100%;
    height: 121.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-i8bq-Wud {
      width: 121.4rem;
      height: 17.3rem;
      position: absolute;
      left: 5.2rem;
      top: 6rem;
      display: flex;
      align-items: flex-end;

      .add-group-1-38s {
        margin-right: 8.9rem;
        width: 16.5rem;
        height: 17.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-hacw-xmd {
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin-top: 9.2rem;
        box-sizing: border-box;
        padding: 0.5rem 1.3rem 0.6rem 0.8rem;
        display: flex;

        .filter-fAF {
          align-items: center;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.1425;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Lilita One, 'Source Sans Pro';
          margin: 0.2rem 0.9rem 0rem 0rem;
          display: flex;
          justify-content: center;
          font-size: 3rem;
        }
        .down-1-kxP {
          margin: 0.2rem 1.3rem 0rem 0rem;
          width: 3.8rem;
          height: 3.8rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .line-21-sGK {
          margin: 0rem 76.3rem 3.1rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .line-22-Q1M {
          margin: 0rem 0.9rem 3.1rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .search-2-1-Xrf {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.8rem;
          height: 3.8rem;
        }
      }
    }
    .user-3KD {
      font-family: Krub, 'Source Sans Pro';
      width: 10.3rem;
      height: 5.2rem;
      position: absolute;
      left: 7.7rem;
      top: 25rem;
      font-size: 4rem;
      color: rgba(0, 0, 0, 0.400000006);
      font-weight: 700;
      line-height: 1.3;
      white-space: nowrap;
    }
    .selamat-datang-di-website-internlink-Z2f {
      font-family: Lilita One, 'Source Sans Pro';
      height: 6.9rem;
      left: 14.8rem;
      top: 49.1rem;
      text-align: center;
      line-height: 1.1425;
      color: rgba(0, 0, 0, 0.400000006);
      width: 114.3rem;
      position: absolute;
      font-size: 6rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .posisi-magang-T83 {
      line-height: 1.1425;
      font-family: Lilita One, 'Source Sans Pro';
      white-space: nowrap;
      width: 31.1rem;
      position: absolute;
      left: 51.6rem;
      text-align: center;
      font-weight: 400;
      height: 5.8rem;
      top: 75.2rem;
      font-size: 5rem;
      color: rgba(0, 0, 0, 0.400000006);
    }
    .auto-group-fitz-NF1 {
      height: 13.3rem;
      position: absolute;
      left: 26.6rem;
      top: 90.7rem;
      display: flex;
      align-items: center;
      width: 78.8rem;

      .auto-group-hbm9-tj9 {
        border-radius: 3rem;
        flex-shrink: 0;
        margin-right: 7.3rem;
        box-sizing: border-box;
        padding: 1rem 1.9rem 1.8rem 2rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);

        .asset-1-24f {
          vertical-align: top;
          width: 10.4rem;
          height: 10.5rem;
          object-fit: cover;
        }
      }
      .auto-group-ejdz-Lb9 {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 3rem;
        flex-shrink: 0;
        margin-right: 8.2rem;
        box-sizing: border-box;
        padding: 1rem 1.3rem 0.7rem 1.4rem;
        height: 100%;

        .people-1-cYf {
          height: 11.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 11.6rem;
        }
      }
      .auto-group-m6u7-ibh {
        border-radius: 3rem;
        flex-shrink: 0;
        margin-right: 6.1rem;
        box-sizing: border-box;
        padding: 1.2rem 1.6rem 1.1rem 1.7rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);

        .networking-1-rT1 {
          height: 11rem;
          object-fit: cover;
          vertical-align: top;
          width: 11rem;
        }
      }
      .auto-group-h4qw-ZcK {
        box-sizing: border-box;
        padding: 2.6rem 2.5rem 1.8rem 2.9rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 3rem;
        flex-shrink: 0;

        .app-1-uRH {
          vertical-align: top;
          width: 8.9rem;
          height: 8.9rem;
          object-fit: cover;
        }
      }
    }
    .website-ini-berisi-rekapitulasi-magang-di-dinas-pekerjaan-umum-provinsi-jawa-timur-SAK {
      width: 90.9rem;
      height: 7.8rem;
      left: 26.5rem;
      top: 58.5rem;
      text-align: center;
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.8000000119);
      position: absolute;
      line-height: 1.3;
      font-family: Krub, 'Source Sans Pro';
    }
    .auto-group-nzsv-7GT {
      left: 29.2rem;
      top: 105.2rem;
      display: flex;
      align-items: center;
      width: 74.4rem;
      height: 6.9rem;
      position: absolute;

      .bidang-aset-S3q {
        text-align: center;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        font-family: Lilita One, 'Source Sans Pro';
        max-width: 9.1rem;
        font-size: 3rem;
        line-height: 1.1425;
        flex-shrink: 0;
        margin-right: 8.4rem;
      }
      .bidang-kepegawaian-kqD {
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.5);
        font-family: Lilita One, 'Source Sans Pro';
        margin-right: 5.8rem;
        text-align: center;
        flex-shrink: 0;
        max-width: 17.4rem;
        font-size: 3rem;
      }
      .bidang-adminitrasi-tAj {
        margin-right: 8.1rem;
        max-width: 15.4rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        font-family: Lilita One, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1425;
      }
      .bidang-lainnya-Q95 {
        flex-shrink: 0;
        max-width: 10.2rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.5);
        font-family: Lilita One, 'Source Sans Pro';
      }
    }
    .line-2-w91 {
      top: 83.4rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      width: 42.9rem;
      height: 1rem;
      position: absolute;
      left: 46.7rem;
    }
    .auto-group-ndfu-sYT {
      height: 4rem;
      position: absolute;
      left: 6.5rem;
      top: 30.2rem;
      color: #ffffff;
      font-family: Krub, 'Source Sans Pro';
      white-space: nowrap;
      padding: 0.1rem 1.6rem;
      border-radius: 1rem;
      background-color: rgba(113, 117, 157, 0.8000000119);
      font-size: 2.5rem;
      font-weight: 700;
      box-sizing: border-box;
      text-align: center;
      line-height: 1.3;
      width: 12.8rem;
    }
  }
  .auto-group-c1zp-7xb {
    box-sizing: border-box;
    padding: 1.7rem 16.7rem 1.65rem 8.8rem;
    width: 100%;
    height: 27.9rem;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.25);
    flex-shrink: 0;

    .auto-group-uigx-SEB {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 5.1rem;

      .sekilas-visi-misi-yV1 {
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1425;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.8rem 1.55rem 0rem;
        align-items: center;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        display: flex;
      }
      .tersedianya-infrastruktur-jalan-provinsi-aman-nyaman-dan-lancar-dalam-mendukung-tercapainya-kesejahteraan-masyarakat-jawa-timur-UwZ {
        font-family: Lilita One, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.7rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1425;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.6999999881);
      }
    }
    .line-23-8mD {
      height: 0.5rem;
      background-color: #000000;
      flex-shrink: 0;
      margin: 1.6rem 4.3rem 0rem 0rem;
      width: 0rem;
    }
    .auto-group-v1mr-fWF {
      margin-right: 6rem;
      width: 40.1rem;
      height: 100%;
      flex-shrink: 0;

      .alamat-kontak-cRV {
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
        margin-bottom: 1.65rem;
        width: 100%;
        display: flex;
        font-family: Lilita One, 'Source Sans Pro';
        align-items: center;
        white-space: nowrap;
      }
      .auto-group-37zz-8Pq {
        width: 100%;
        display: flex;
        align-items: flex-start;

        .auto-group-vsrj-VEP {
          margin: 0.15rem 1.7rem 0rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .home-1-DRH {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            width: 2.6rem;
            height: 2rem;
          }
          .phone-1-YTZ {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            width: 2.6rem;
            height: 2.5rem;
            object-fit: cover;
          }
          .telephone-1-HR9 {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            opacity: 0.7;
            width: 2.6rem;
            height: 2.6rem;
            object-fit: cover;
          }
          .calendar-1-1rw {
            opacity: 0.7;
            width: 2.6rem;
            height: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .jl-gayungsari-no-167-surabaya-031-8290186-8280433-031-8380932-jam-kerja-senin-kamis-0800-1600-jumat-0730-1600-sabtu-minggu-libur-9iF {
          flex-shrink: 0;
          max-width: 35.8rem;
          display: flex;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.1425;
          color: rgba(0, 0, 0, 0.6999999881);
          font-family: Lilita One, 'Source Sans Pro';
        }
      }
    }
    .line-24-ySP {
      width: 0rem;
      height: 0.5rem;
      background-color: #000000;
      flex-shrink: 0;
      margin: 1.6rem 5.2rem 0rem 0rem;
    }
    .auto-group-mego-Hxs {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.2rem 1.6rem 2.05rem 0rem;
      height: calc(100% - 3.25rem);
      display: flex;

      .world-wide-web-1-29m {
        margin-bottom: 1.8rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .instagram-1-AFy {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 3.7rem;
        height: 3.7rem;
        object-fit: cover;
      }
      .facebook-1-6fR {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3rem;
        width: 3.7rem;
        height: 3.7rem;
      }
      .twitter-1-F2X {
        width: 3.7rem;
        height: 3.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-7wbd-yz7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.7rem 0rem 2.75rem 0rem;
      height: calc(100% - 4.45rem);

      .binamargajatimprovgoid-vPZ {
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
      }
      .binamargajatim-e4f {
        margin-bottom: 3.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .binamargajatimprov-ycj {
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 4.4rem 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
      }
      .dbmjatim-hHq {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
      }
    }
  }
}
