
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.5rem;
}.edit-kcF {
  box-sizing: border-box;
  padding: 4.35rem 8.2rem 3rem 8.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-color: #d9d9d9;
  width: 100%;
  position: relative;
  flex-direction: column;

  .edit-data-rekap-magang-swm {
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1425;
    color: rgba(0, 0, 0, 0.6999999881);
    font-family: Lilita One, 'Source Sans Pro';
    max-width: 21.7rem;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 3.15rem;
    justify-content: center;
  }
  .group-1-arB {
    margin-bottom: 4.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    flex-shrink: 0;

    .auto-group-jzrx-vf9 {
      margin-bottom: 1.5rem;
      width: 100%;
      height: 3.4rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-d4yp-sKV {
        border-radius: 0.5rem;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.25);
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.400000006);
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        margin-right: 1.3rem;
        height: 100%;
        width: 13.9rem;
      }
      .item--MEf {
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
        margin: 0.2rem 1.6rem 0rem 0rem;
        display: flex;
        font-size: 2rem;
        color: #000000;
        flex-shrink: 0;
      }
      .rectangle-27-fWF {
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
    .auto-group-tzs3-QCw {
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.4rem;
      display: flex;
      align-items: flex-start;

      .auto-group-e6zs-M8B {
        margin-right: 1.3rem;
        border-radius: 0.5rem;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        align-items: center;
        font-family: Lilita One, 'Source Sans Pro';
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.400000006);
        background-color: rgba(0, 0, 0, 0.25);
        width: 13.9rem;
        height: 100%;
        justify-content: center;
      }
      .item--SQX {
        justify-content: center;
        font-size: 2rem;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.2rem 1.6rem 0rem 0rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.1425;
        white-space: nowrap;
      }
      .rectangle-29-kRD {
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-pewb-V7u {
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.4rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-nnbh-dju {
        font-size: 2rem;
        width: 13.9rem;
        align-items: center;
        justify-content: center;
        line-height: 1.1425;
        white-space: nowrap;
        height: 100%;
        color: rgba(0, 0, 0, 0.400000006);
        font-family: Lilita One, 'Source Sans Pro';
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
        display: flex;
        font-weight: 400;
      }
      .item--imM {
        margin: 0.2rem 1.6rem 0rem 0rem;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        color: #000000;
      }
      .rectangle-31-qb5 {
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
    .auto-group-6jr3-aHm {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.4rem;
      display: flex;

      .auto-group-h2n3-84P {
        align-items: center;
        line-height: 1.1425;
        display: flex;
        font-weight: 400;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 13.9rem;
        justify-content: center;
        font-family: Lilita One, 'Source Sans Pro';
        background-color: rgba(0, 0, 0, 0.25);
        margin-right: 1.3rem;
        height: 100%;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.400000006);
        white-space: nowrap;
      }
      .item--ckF {
        line-height: 1.1425;
        color: #000000;
        margin: 0.2rem 1.6rem 0rem 0rem;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-33-wnX {
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40.7rem;
      }
    }
    .auto-group-tb99-gVD {
      margin-bottom: 2.2rem;
      width: 100%;
      height: 7.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-t3h9-Dzw {
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 1.6rem;
        height: 100%;
        display: flex;

        .auto-group-3jdm-BB5 {
          width: 13.9rem;
          background-color: rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin-right: 1.3rem;
          height: 3.4rem;
          justify-content: center;
          font-weight: 400;
          display: flex;
          align-items: center;
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.400000006);
          white-space: nowrap;
          line-height: 1.1425;
          font-family: Lilita One, 'Source Sans Pro';
          border-radius: 0.5rem;
        }
        .item--FRq {
          font-family: Lilita One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          align-items: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1425;
          display: flex;
          justify-content: center;
          color: #000000;
        }
      }
      .rectangle-35-aj1 {
        width: 40.7rem;
        height: 7.6rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-rkrt-WsZ {
      width: 100%;
      height: 3.4rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.2rem;

      .auto-group-ygk7-eym {
        background-color: rgba(0, 0, 0, 0.25);
        align-items: center;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.400000006);
        font-family: Lilita One, 'Source Sans Pro';
        width: 13.9rem;
        display: flex;
        font-weight: 400;
        line-height: 1.1425;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
        height: 100%;
        justify-content: center;
        white-space: nowrap;
      }
      .item--vwH {
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        flex-shrink: 0;
        margin: 0.2rem 1.6rem 0rem 0rem;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .rectangle-37-dqh {
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
      }
    }
    .auto-group-brxb-ZzF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 100%;
      height: 6.1rem;

      .auto-group-kzz1-7Vy {
        box-sizing: border-box;
        padding: 0.8rem 1.6rem 0.7rem 1.7rem;
        width: 13.9rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 1.3rem;

        .dosen-pembimbing-qgs {
          align-items: center;
          justify-content: center;
          line-height: 1.1425;
          color: rgba(0, 0, 0, 0.400000006);
          max-width: 10.6rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          font-family: Lilita One, 'Source Sans Pro';
        }
      }
      .item--Ldd {
        display: flex;
        align-items: center;
        font-size: 2rem;
        line-height: 1.1425;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 1.6rem 1.4rem 0rem;
        justify-content: center;
        font-weight: 400;
        flex-shrink: 0;
      }
      .rectangle-39-eeK {
        margin-bottom: 0.3rem;
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-whv7-P67 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      height: 3.4rem;

      .auto-group-3ekz-Xi7 {
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.25);
        width: 13.9rem;
        display: flex;
        justify-content: center;
        margin-right: 1.3rem;
        align-items: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        flex-shrink: 0;
        height: 100%;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.400000006);
      }
      .item--cjZ {
        margin: 0.2rem 1.6rem 0rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.1425;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-42-9Dh {
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
      }
    }
    .auto-group-gpy3-Hao {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.4rem;
      display: flex;

      .auto-group-zlcp-SCo {
        border-radius: 0.5rem;
        width: 13.9rem;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.400000006);
        margin-right: 1.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        height: 100%;
        align-items: center;
        font-family: Lilita One, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item--L3H {
        margin: 0rem 1.6rem 0.1rem 0rem;
        display: flex;
        font-size: 2rem;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.1425;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
      }
      .rectangle-44-Ss1 {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
      }
    }
  }
  .auto-group-54fz-Ao1 {
    font-family: Lilita One, 'Source Sans Pro';
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    flex-shrink: 0;
    margin-left: 45.4rem;
    height: 3.4rem;
    display: flex;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.400000006);
    width: 12.7rem;
    line-height: 1.1425;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}
