
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 27.6rem;
}.filter-cari-3q1 {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;

  .auto-group-szw5-nXh {
    background-color: rgba(0, 0, 0, 0.200000003);
    flex-shrink: 0;
    margin-bottom: 0.15rem;
    box-sizing: border-box;
    padding: 0.95rem 7.4rem 1rem 6.9rem;
    width: 100%;
    display: flex;
    align-items: center;

    .filter-Jkw {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.1425;
      font-family: Lilita One, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      margin: 0rem 2.6rem 0.35rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.400000006);
    }
    .down-1-D7D {
      margin-top: 0.05rem;
      width: 3.8rem;
      height: 3.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-gttz-8jy {
    flex-shrink: 0;
    width: 100%;
    height: 13.7rem;
    position: relative;

    .rectangle-21-sxT {
      top: 0.05rem;
      background-color: rgba(0, 0, 0, 0.200000003);
      width: 27.6rem;
      height: 3.4rem;
      position: absolute;
      left: 0;
    }
    .rectangle-24-DWX {
      position: absolute;
      left: 0;
      top: 10.25rem;
      background-color: rgba(0, 0, 0, 0.200000003);
      width: 27.6rem;
      height: 3.4rem;
    }
    .rectangle-23-xj1 {
      position: absolute;
      left: 0;
      top: 6.85rem;
      background-color: rgba(0, 0, 0, 0.200000003);
      width: 27.6rem;
      height: 3.4rem;
    }
    .rectangle-22-guu {
      height: 3.4rem;
      position: absolute;
      left: 0;
      top: 3.45rem;
      background-color: rgba(0, 0, 0, 0.200000003);
      width: 27.6rem;
    }
    .nama-mentor-2ym {
      display: flex;
      line-height: 1.1425;
      color: rgba(0, 0, 0, 0.400000006);
      width: 17.7rem;
      height: 3.5rem;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10.2rem;
      font-weight: 400;
      font-family: Lilita One, 'Source Sans Pro';
      white-space: nowrap;
      left: 1rem;
      font-size: 3rem;
    }
    .nama-j7V {
      justify-content: center;
      white-space: nowrap;
      width: 7.5rem;
      position: absolute;
      top: 0;
      font-family: Lilita One, 'Source Sans Pro';
      font-size: 3rem;
      height: 3.5rem;
      left: 1rem;
      align-items: center;
      color: rgba(0, 0, 0, 0.400000006);
      display: flex;
      font-weight: 400;
      line-height: 1.1425;
    }
    .prodi-asal-instansi-3P5 {
      justify-content: center;
      line-height: 1.1425;
      white-space: nowrap;
      left: 1rem;
      position: absolute;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.400000006);
      width: 25.6rem;
      font-weight: 400;
      height: 3.5rem;
      font-size: 3rem;
      font-family: Lilita One, 'Source Sans Pro';
      top: 3.4rem;
    }
    .unit-kerja-k2b {
      position: absolute;
      display: flex;
      font-weight: 400;
      font-size: 3rem;
      font-family: Lilita One, 'Source Sans Pro';
      height: 3.5rem;
      justify-content: center;
      align-items: center;
      line-height: 1.1425;
      color: rgba(0, 0, 0, 0.400000006);
      white-space: nowrap;
      width: 12.9rem;
      left: 1rem;
      top: 6.8rem;
    }
  }
}
