
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.rekapitulasi-UiT {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-hbh1-RNo {
    margin-bottom: 0.6rem;
    padding: 2.9rem 6.1rem 25.7rem 22.1rem;
    width: 100%;
    flex-direction: column;
    background-position: 0 2.2529rem;
    box-sizing: border-box;
    align-items: flex-end;
    display: flex;
    background-size: 100% 105.634%;
    background-image: url('REPLACE_IMAGE:2e1c6ece2dd16408e880bd38f8ef59950807bae1');
    flex-shrink: 0;

    .auto-group-jchu-Kj5 {
      margin-bottom: 1.1rem;
      display: flex;
      column-gap: 2.65rem;
      align-items: center;
      flex-shrink: 0;

      .beranda-4gf {
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.5);
        font-family: Krub, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .rekapitulasi-BFV {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.5);
        font-family: Krub, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .tentang-X4T {
        text-align: center;
        line-height: 1.3;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
        font-family: Krub, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .line-1-SSK {
      height: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      flex-shrink: 0;
      margin: 0rem 9.4rem 2.3rem 0rem;
      width: 14.3rem;
    }
    .auto-group-skjk-xQf {
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin-right: 22.7rem;
      box-sizing: border-box;
      padding: 2.5rem 2.4rem 2.1rem 2.4rem;
      width: 93.1rem;
      height: 16.1rem;
      background-color: rgba(113, 117, 157, 0.6000000238);

      .dinas-pekerjaan-umum-bina-marga-provinsi-jawa-timur-eoH {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(255, 255, 255, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        max-width: 88.3rem;
        text-align: center;
      }
    }
    .auto-group-hbh1-RNo-bg {
      width: 144rem;
      height: 51.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:2e1c6ece2dd16408e880bd38f8ef59950807bae1');
    }
  }
  .rekapitulasi-data-magang-dinas-pu-bina-marga-provinsi-jawa-timur-TVq {
    max-width: 81.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.1425;
    color: rgba(0, 0, 0, 0.400000006);
    font-family: Lilita One, 'Source Sans Pro';
    margin-left: 5.6rem;
    font-size: 4rem;
    font-weight: 400;
    flex-shrink: 0;
  }
  .auto-group-nonw-kUw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.2rem 6rem 5.2rem 4.7rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .auto-group-vdd1-UQw {
      margin: 0rem 0.2rem 2.1rem 0rem;
      height: 5.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-gd5r-oCK {
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-right: 1.9rem;
        padding: 0.65rem 1.9rem 0.6rem 1.7rem;
        height: 100%;
        border-radius: 1.5rem;

        .filter-uFM {
          line-height: 1.1425;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Lilita One, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-size: 3rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.2rem;
          align-items: center;
        }
        .down-1-2as {
          margin: 0.05rem 2rem 0rem 0rem;
          width: 3.8rem;
          height: 3.8rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .line-21-wSw {
          background-color: #000000;
          flex-shrink: 0;
          margin: 0.05rem 83rem 0rem 0rem;
          width: 0rem;
          height: 0.1rem;
        }
        .line-22-4Gf {
          margin: 0.05rem 2.1rem 0rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .search-2-1-b1h {
          height: 3.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.05rem;
          width: 3.8rem;
        }
      }
      .auto-group-gwak-JRu {
        padding: 0.3rem 0.5rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 3.7rem;
        box-sizing: border-box;

        .add-1-3uH {
          width: 4.5rem;
          height: 4.5rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
      }
      .auto-group-ffck-Ayu {
        margin-right: 3.7rem;
        box-sizing: border-box;
        padding: 0.3rem 0.5rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;

        .edit-1-ikX {
          width: 4.5rem;
          height: 4.5rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-vrbv-f9y {
        box-sizing: border-box;
        padding: 0.3rem 0.5rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 1rem;
        flex-shrink: 0;

        .trash-1-QtF {
          vertical-align: top;
          width: 4.5rem;
          height: 4.5rem;
          object-fit: cover;
        }
      }
    }
    .auto-group-w2bh-959 {
      width: 100%;
      height: 88.8rem;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-bottom: 5.2rem;

      .auto-group-drzd-gqm {
        width: 133.2rem;
        height: 100%;
        position: relative;
        border-bottom: solid 0.1rem #000000;
        box-sizing: border-box;
        border-top: solid 0.1rem #000000;

        .rectangle-14-zrT {
          background-color: #d9d9d9;
          width: 133.2rem;
          height: 88.7rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
        }
        .nama-mentor-Kdq {
          display: flex;
          line-height: 1.1425;
          font-family: Lilita One, 'Source Sans Pro';
          top: 1.65rem;
          font-weight: 400;
          left: 108.2rem;
          align-items: center;
          justify-content: center;
          font-size: 3rem;
          color: #000000;
          width: 17.7rem;
          height: 3.5rem;
          position: absolute;
          white-space: nowrap;
        }
        .unit-kerja-DDR {
          font-weight: 400;
          font-family: Lilita One, 'Source Sans Pro';
          left: 75.9rem;
          position: absolute;
          top: 1.65rem;
          color: #000000;
          width: 12.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3.5rem;
          line-height: 1.1425;
          white-space: nowrap;
          font-size: 3rem;
        }
        .nama-WyD {
          white-space: nowrap;
          top: 1.65rem;
          height: 3.5rem;
          position: absolute;
          left: 18rem;
          line-height: 1.1425;
          width: 7.5rem;
          align-items: center;
          font-family: Lilita One, 'Source Sans Pro';
          display: flex;
          font-size: 3rem;
          font-weight: 400;
          color: #000000;
          justify-content: center;
        }
        .prodi-asal-instansi-EPR {
          position: absolute;
          line-height: 1.1425;
          width: 25.6rem;
          justify-content: center;
          white-space: nowrap;
          display: flex;
          font-size: 3rem;
          font-weight: 400;
          color: #000000;
          font-family: Lilita One, 'Source Sans Pro';
          height: 3.5rem;
          left: 39.7rem;
          top: 1.65rem;
          align-items: center;
        }
        .line-20-iZV {
          height: 88.6rem;
          position: absolute;
          left: 99rem;
          top: 0.2rem;
          background-color: #000000;
          width: 0.1rem;
        }
        .line-19-ei3 {
          width: 0.1rem;
          height: 88.6rem;
          position: absolute;
          left: 67.3rem;
          top: 0;
          background-color: #000000;
        }
        .line-17-PvX {
          width: 0.1rem;
          height: 88.6rem;
          position: absolute;
          left: 8.7rem;
          top: 0;
          background-color: #000000;
        }
        .line-18-wSF {
          position: absolute;
          left: 36.8rem;
          top: 0.1rem;
          background-color: #000000;
          width: 0.1rem;
          height: 88.6rem;
        }
        .line-12-fd9 {
          top: 80.5rem;
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
        }
        .line-11-Qaj {
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 72.3rem;
        }
        .line-10-xcF {
          top: 64.1rem;
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
        }
        .line-9-hpj {
          position: absolute;
          left: 0;
          top: 55.9rem;
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
        }
        .line-8-FbM {
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 47.7rem;
          background-color: #000000;
        }
        .line-7-o75 {
          left: 0;
          top: 39.5rem;
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-6-9Aw {
          left: 0.1rem;
          top: 31.3rem;
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-4-gRm {
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 14.9rem;
          background-color: #000000;
        }
        .line-5-DwV {
          top: 23.1rem;
          background-color: #000000;
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
        }
        .line-3-NZV {
          width: 133.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 6.6992rem;
          background-color: #000000;
        }
        .line-14-i7Z {
          left: 0.1rem;
          top: 0.1rem;
          background-color: #000000;
          width: 0.1rem;
          height: 88.6rem;
          position: absolute;
        }
        .no-3fd {
          font-size: 3rem;
          color: #000000;
          position: absolute;
          top: 1.65rem;
          justify-content: center;
          font-weight: 400;
          line-height: 1.1425;
          font-family: Lilita One, 'Source Sans Pro';
          white-space: nowrap;
          left: 2.6rem;
          align-items: center;
          display: flex;
          width: 3.5rem;
          height: 3.5rem;
        }
        .no-9yZ {
          height: 3.5rem;
          top: 1.65rem;
          left: 2.6rem;
          justify-content: center;
          font-size: 3rem;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          line-height: 1.1425;
          color: #000000;
          width: 3.5rem;
          position: absolute;
          align-items: center;
          font-family: Lilita One, 'Source Sans Pro';
        }
      }
    }
    .auto-group-rwn7-pZu {
      margin-right: 0.1rem;
      height: 5.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-mbxt-kiT {
        justify-content: center;
        font-weight: 400;
        font-family: Lilita One, 'Source Sans Pro';
        border-radius: 1rem;
        height: 100%;
        line-height: 1.1425;
        white-space: nowrap;
        display: flex;
        width: 8.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-right: 2.2rem;
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.200000003);
        align-items: center;
      }
      .auto-group-ujhh-dnF {
        margin-right: 3.2rem;
        font-size: 3rem;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.5);
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 5.5rem;
        height: 100%;
        font-weight: 400;
        border-radius: 1rem;
      }
      .auto-group-gs2o-Xsd {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 3rem;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        background-color: #d9d9d9;
        border-radius: 1rem;
        margin-right: 3.2rem;
        width: 5.5rem;
      }
      .auto-group-j2rv-DVZ {
        align-items: center;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 5.5rem;
        display: flex;
        font-size: 3rem;
        line-height: 1.1425;
        height: 100%;
        justify-content: center;
        font-weight: 400;
        border-radius: 1rem;
        margin-right: 2rem;
        color: rgba(0, 0, 0, 0.5);
        background-color: #d9d9d9;
      }
      .auto-group-fahu-WDm {
        font-weight: 400;
        white-space: nowrap;
        border-radius: 1rem;
        width: 8.8rem;
        display: flex;
        font-family: Lilita One, 'Source Sans Pro';
        background-color: #d9d9d9;
        flex-shrink: 0;
        font-size: 3rem;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.5);
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .auto-group-bq83-yd9 {
    height: 27.9rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.7rem 14.8rem 1.65rem 8.8rem;
    width: 100%;

    .auto-group-xefy-tVD {
      margin: 0rem 5.9rem 2.9rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .sekilas-visi-misi-25d {
        font-size: 2.5rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6999999881);
        flex-shrink: 0;
        margin: 0rem 0.8rem 1.55rem 0rem;
        display: flex;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
      }
      .tersedianya-infrastruktur-jalan-provinsi-aman-nyaman-dan-lancar-dalam-mendukung-tercapainya-kesejahteraan-masyarakat-jawa-timur-KaX {
        justify-content: center;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        max-width: 29.7rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.1425;
        flex-shrink: 0;
      }
    }
    .line-25-yf5 {
      flex-shrink: 0;
      margin: 0rem 3.5rem 17.25rem 0rem;
      width: 0rem;
      height: 0.5rem;
      background-color: #000000;
    }
    .auto-group-umvh-v4X {
      flex-shrink: 0;
      margin-right: 9.6rem;
      width: 40.1rem;
      height: 100%;

      .alamat-kontak-sEf {
        white-space: nowrap;
        margin-bottom: 1.65rem;
        align-items: center;
        color: rgba(0, 0, 0, 0.6999999881);
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .auto-group-d3dr-zKH {
        width: 100%;
        display: flex;
        align-items: flex-start;

        .auto-group-qnl7-jnf {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.15rem 1.7rem 0rem 0rem;
          align-items: center;

          .home-2-Gnb {
            width: 2.6rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            opacity: 0.7;
          }
          .phone-2-1EP {
            height: 2.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            width: 2.6rem;
          }
          .telephone-2-kBy {
            opacity: 0.7;
            width: 2.6rem;
            height: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
          }
          .calendar-2-snP {
            flex-shrink: 0;
            opacity: 0.7;
            width: 2.6rem;
            height: 2.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .jl-gayungsari-no-167-surabaya-031-8290186-8280433-031-8380932-jam-kerja-senin-kamis-0800-1600-jumat-0730-1600-sabtu-minggu-libur-R3D {
          font-weight: 400;
          line-height: 1.1425;
          color: rgba(0, 0, 0, 0.6999999881);
          font-family: Lilita One, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 35.8rem;
          display: flex;
          font-size: 2.5rem;
        }
      }
    }
    .line-25-sA7 {
      flex-shrink: 0;
      margin: 0rem 3.5rem 17.25rem 0rem;
      width: 0rem;
      height: 0.5rem;
      background-color: #000000;
    }
    .auto-group-mbom-oZZ {
      margin: 1.2rem 1.6rem 2.05rem 0rem;
      height: calc(100% - 3.25rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .world-wide-web-1-Y1M {
        margin-bottom: 1.8rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .instagram-1-sJX {
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 3.7rem;
        height: 3.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .facebook-1-QZM {
        height: 3.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3rem;
        width: 3.7rem;
      }
      .twitter-1-MDh {
        width: 3.7rem;
        height: 3.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-s7mh-5vP {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.7rem 0rem 2.75rem 0rem;
      height: calc(100% - 4.45rem);
      display: flex;

      .binamargajatimprovgoid-DfD {
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.3rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .binamargajatim-Ljq {
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
      }
      .binamargajatimprov-GtP {
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 4.4rem 0.1rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .dbmjatim-CGF {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Lilita One, 'Source Sans Pro';
      }
    }
  }
}
