
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.5rem;
}.tambah-2-zaK {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #d9d9d9;
  box-sizing: border-box;
  padding: 4.35rem 8.2rem 5.1rem 8.2rem;
  overflow: hidden;
  flex-direction: column;

  .tambah-data-rekap-magang-iFR {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: 1.1425;
    color: rgba(0, 0, 0, 0.6999999881);
    font-family: Lilita One, 'Source Sans Pro';
    max-width: 21.7rem;
    flex-shrink: 0;
    font-weight: 400;
    margin-bottom: 3.15rem;
  }
  .group-1-pJT {
    margin-bottom: 3.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    flex-shrink: 0;

    .auto-group-8gb1-ZWw {
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 3.4rem;
      display: flex;
      align-items: flex-start;

      .auto-group-vovx-uKu {
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
        margin-right: 1.3rem;
        width: 13.9rem;
        display: flex;
        color: rgba(0, 0, 0, 0.400000006);
        white-space: nowrap;
        flex-shrink: 0;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
      }
      .item--C47 {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        margin: 0.2rem 1.6rem 0rem 0rem;
        display: flex;
        font-size: 2rem;
        line-height: 1.1425;
        font-family: Lilita One, 'Source Sans Pro';
      }
      .rectangle-27-WKh {
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-fmsf-qMy {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.4rem;

      .auto-group-u68w-Zom {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        margin-right: 1.3rem;
        width: 13.9rem;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 400;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.400000006);
        flex-shrink: 0;
        height: 100%;
        font-size: 2rem;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--4Ej {
        justify-content: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1425;
        margin: 0.2rem 1.6rem 0rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-29-B4T {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
      }
    }
    .auto-group-few3-Jum {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.4rem;

      .auto-group-hyix-Fa7 {
        margin-right: 1.3rem;
        width: 13.9rem;
        font-family: Lilita One, 'Source Sans Pro';
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.400000006);
        height: 100%;
        justify-content: center;
        line-height: 1.1425;
        flex-shrink: 0;
      }
      .item--8to {
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 2rem;
        line-height: 1.1425;
        white-space: nowrap;
        margin: 0.2rem 1.6rem 0rem 0rem;
        justify-content: center;
        font-weight: 400;
      }
      .rectangle-31-rpo {
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-ovdm-Q5d {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      height: 3.4rem;
      display: flex;

      .auto-group-r5wf-Yhd {
        align-items: center;
        font-weight: 400;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.25);
        height: 100%;
        justify-content: center;
        font-size: 2rem;
        line-height: 1.1425;
        color: rgba(0, 0, 0, 0.400000006);
        font-family: Lilita One, 'Source Sans Pro';
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 13.9rem;
        display: flex;
      }
      .item--SHD {
        margin: 0.2rem 1.6rem 0rem 0rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Lilita One, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        line-height: 1.1425;
        flex-shrink: 0;
      }
      .rectangle-33-9xK {
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40.7rem;
        height: 3.4rem;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }
  .auto-group-umqr-Ujh {
    margin: 0rem 1.5rem 0rem 29.1rem;
    width: calc(100% - 30.6rem);
    height: 3.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-rikf-QNT {
      font-size: 2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.400000006);
      font-family: Lilita One, 'Source Sans Pro';
      margin-right: 2.1rem;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      align-items: center;
      line-height: 1.1425;
      white-space: nowrap;
      flex-shrink: 0;
      width: 12.7rem;
    }
    .auto-group-rhom-5jV {
      display: flex;
      justify-content: center;
      white-space: nowrap;
      width: 12.7rem;
      align-items: center;
      font-size: 2rem;
      border-radius: 0.5rem;
      font-weight: 400;
      line-height: 1.1425;
      color: rgba(0, 0, 0, 0.400000006);
      font-family: Lilita One, 'Source Sans Pro';
      background-color: rgba(0, 0, 0, 0.25);
      height: 100%;
      flex-shrink: 0;
    }
  }
}
